@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Load Planner</h1>
    <div class="optionList">
        <div class="optionItem"><a href="/LoadPlanner/Index">Assingment Board</a></div>
    </div>
    
</div>
